<h1>Aboot ... yeah I'm Canadian. What you gonna do about it!</h1>
<p>

	<%= link_to "My Growler is angry", "http://angrygrowler.com" %>
	and she aint got no time for none'er this 
	<%= link_to "shit!", "http://awkwardfamilyphotos.com" %>

</p>