<% if user_signed_in? %>
	<h1>You're logged in!</h1>
<% else %>
<div class="hero-unit">
<h1>Rails App</h1>
<p>

This is a rails app
<%= link_to "Yeah", "http://bbc.com" %>
</p>

<p>
<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-primary" %>
</p>
</div>
<% end %>