<div class="hero-unit">
<h1>Welcome to Jimmy's Playground</h1>
<p>

You have stumbled into my lair at
<%= link_to "THE BBC", "http://bbc.com" %>
</p>

<p>
<%= link_to "Come to me papi you big bear", "http://papajohns.com", class: "btn btn-success btn-primary" %>
</p>
</div>